@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-row-left-span {
    @apply text-[13pt] lg:text-[1.4vw] font-en font-bold tracking-normal mb-[2.5px] lg:mb-[1vh];
  }
  .contact-row-right-span {
    @apply text-[10.5pt] lg:text-[1.25vw] mb-[2.5px] lg:mb-[1vh] font-kr font-medium tracking-[-0.03em];
  }
  .contact-row-en-span {
    @apply text-[13pt] lg:text-[1.4vw] font-en font-normal tracking-normal;
  }
  .product-graph-row {
    @apply flex justify-center items-center border-t-[2px] border-white flex-col lg:border-none lg:flex-row;
  }
  .product-outline-circle {
    @apply absolute size-[15.63vw] border-[0.3pt] border-green mx-auto bg-transparent rounded-full text-[1.25vw] will-change-transform;
  }
  .product-icon-div {
    @apply size-[7vw] lg:size-[3vw] overflow-visible whitespace-nowrap flex flex-col items-center absolute will-change-transform;
  }
}

/* Font */
@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("/fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("/fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("/fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "UniversLTPro-BoldCond";
  src: url("/fonts/UniversLTPro-BoldCond.otf") format("opentype");
}
@font-face {
  font-family: "UniversLTPro-Condensed";
  src: url("/fonts/UniversLTPro-Condensed.otf") format("opentype");
}

/* Quill */
@media screen and (max-width: 652px) {
  .quill .ql-editor * {
    line-height: 1.7em;
  }
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.quill .ql-container {
  height: 300px;
}
.quill .ql-editor {
  line-height: 2em;
}
.quill .ql-editor * {
  font: revert;
}
.ql-picker.ql-font .ql-picker-item {
  font-size: 0;
}
.ql-snow .ql-picker.ql-font {
  width: 180px !important;
}
.ql-picker.ql-font .ql-picker-item:before {
  content: attr(data-value) !important;
  font-size: 14px;
}

.ql-picker.ql-font .ql-active:before {
  content: attr(data-value) !important;
  font-size: 14px;
}

.ql-picker.ql-font .ql-picker-label[data-value="NotoSansKR-Regular"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="NotoSansKR-Regular"]::before {
  font-family: "NotoSansKR-Regular", cursive;
  content: "NotoSansKR-Regular" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="NotoSansKR-Medium"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="NotoSansKR-Medium"]::before {
  font-family: "NotoSansKR-Medium", cursive;
  content: "NotoSansKR-Medium" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="NotoSansKR-Bold"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="NotoSansKR-Bold"]::before {
  font-family: "NotoSansKR-Bold", cursive;
  content: "NotoSansKR-Bold" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="UniversLTPro-BoldCond"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="UniversLTPro-BoldCond"]::before {
  font-family: "UniversLTPro-BoldCond", cursive;
  content: "UniversLTPro-BoldCond" !important;
}

.ql-picker.ql-font
  .ql-picker-label[data-value="UniversLTPro-Condensed"]::before,
.ql-picker.ql-font
  .ql-picker-item[data-value="UniversLTPro-Condensed"]::before {
  font-family: "UniversLTPro-Condensed", cursive;
  content: "UniversLTPro-Condensed" !important;
}

/* Set content font-families */
.ql-font-NotoSansKR-Regular,
.quill .ql-editor .ql-font-NotoSansKR-Regular {
  font-family: "NotoSansKR-Regular";
}

.ql-font-NotoSansKR-Medium,
.quill .ql-editor .ql-font-NotoSansKR-Medium {
  font-family: "NotoSansKR-Medium";
}

.ql-font-NotoSansKR-Bold,
.quill .ql-editor .ql-font-NotoSansKR-Bold {
  font-family: "NotoSansKR-Bold";
}

.ql-font-UniversLTPro-BoldCond,
.quill .ql-editor .ql-font-UniversLTPro-BoldCond {
  font-family: "UniversLTPro-BoldCond";
}

.ql-font-UniversLTPro-Condensed,
.quill .ql-editor .ql-font-UniversLTPro-Condensed {
  font-family: "UniversLTPro-Condensed";
}
